<app-admin-navbar></app-admin-navbar>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> PreBol Car Rental! </title>
    <link rel="stylesheet" href="./admin-add.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <input type="checkbox" id="flip">
        <form class="inputs" [formGroup]="adminAddForm">
            <div class="form-content">
                <div class="admin-form">
                    <div class="title">Add Cars</div>
                    <div class="input-boxes">
                        <!--INPUT FIELDS START-->
                        <div class="input-box">
                            <i class="fa fa-car"></i>
                            <input type="text" id="carName" placeholder="Car Name" formControlName="carName" required>
                        </div>

                        <div class="input-box">
                            <i class="fa fa-paint-brush"></i>
                            <input type="text" id="carColor" placeholder="Color" formControlName="carColor" required>
                        </div>

                        <div class="input-box">
                            <i class="fa fa-money"></i>
                            <input type="number" id="carPrice" placeholder="Rent Price" formControlName="carPrice" required>
                        </div>

                        <div class="input-box">
                            <i class="fa fa-road"></i>
                            <input type="number" id="carMileage" placeholder="Mileage (Kilometers)" formControlName="carMileage" required>
                        </div>

                        <div class="input-box">
                            <i class="fa fa-key"></i>
                            <input disabled="disabled" type="string" id="carStatus" placeholder="This car is already listed as Available" required>
                        </div>
                        <!--WE NEED TO ADD MORE-->
                        <div class="cover">
                            <div class="front">
                                <!-- put the image from FormControl carimage -->
                                <img src="{{url}}" *ngIf="validImage" alt="car-image" class="car-image">
                                <img src="assets\Upload-Transparent.png" *ngIf="!validImage" alt="car-image" class="car-image"> </div>
                            <div class="back">
                                <div class="text">
                                    <!-- Add upload button -->
                                    <div class="input-box dist">
                                        <i class="fa fa-upload"></i>
                                        <input type="file" id="carImage" placeholder="Upload Image" (change)="onFileChanged($event)" formControlName="carImage" required>
                                    </div>
                                    <!-- Add location like city, street,zipcode,country -->
                                    <div class="input-box">
                                        <i class="fa fa-map-marker"></i>
                                        <!-- inline FIELDS for street, city zipcode and country-->
                                        <input type="text" id="carBarangay" placeholder="Brgy" formControlName="carBarangay" required>
                                        <input type="text" id="carCity" placeholder="City" formControlName="carCity" required>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="button input-box">
                                <!-- add a clear button -->
                                <button type="button" class="clear-button" (click)="clearImage()">Clear</button>
                            </div>
                        </div>
                        <!--INPUT FIELDS END-->
                        <div class="button input-box">
                            <input type="submit" value="Add" (click)="onSubmitAdd()">
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</body>