<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>

</head>


    <nav>
        <div class="container">
            <h1><a routerLink="/admin-dashboard">Admin Dashboard</a></h1>
            <div class="menu">
                <a routerLink="/admin-add" class="">Add Cars</a>
                <a routerLink="/admin-available" class="">Available Cars</a>
                <a routerLink="/admin-rented" class="">Rented Cars</a>
                <a href="#" class="">Logout</a>
            </div>
           

        </div>
       
    </nav>
    <script src="main.js"></script>

