

<div *ngIf="cars.length > 0;else noCars" class="container"></div>
<app-user-navbar></app-user-navbar>
<!--START CARD-->
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%"  *ngFor="let car of cars">
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title> {{car.carName}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{car.carImage}}">
      <mat-card-content>
        <p>
            {{car.carMileage}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>RESERVE CAR</button>
        <button mat-button>VIEW</button>
      </mat-card-actions>
    </mat-card>
  </div>
  </div>
  </div>
<!--END CARD-->

<button (click)="logout()">Log out!</button>
<ng-template #noCars>
    <hr>
    <h5>There are no cars listed!</h5>
    
</ng-template>