<div *ngIf="cars.length > 0;else noCars" class="container">


<div *ngIf="cars.length > 0;else noCars" class="container"></div>
<app-user-navbar></app-user-navbar>
<!--START CARD-->
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="25px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%"  *ngFor="let car of cars">
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title><mat-icon> directions_car</mat-icon> {{car.carName}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{car.carImage}}"class=".img-responsive" width="304" height="236">
      <mat-card-content class="mat-typography">
        <p>
            <mat-icon> location_on</mat-icon>
            {{car.carLocation?.barangay}}, {{car.carLocation?.city}}
        </p>
        
      </mat-card-content>
      <mat-card-actions>
        <button mat-button><mat-icon>add_circle</mat-icon>RESERVE CAR</button>
        <button mat-button><mat-icon>open_with</mat-icon>MORE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  </div>
  </div>
<!--END CARD-->

<!-- <button (click)="logout()">Log out!</button> -->
<ng-template #noCars>
    <hr>
    <h5>There are no cars listed!</h5>

</ng-template>