<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Admin Dashboard</title> -->
</head>


<nav>
    <div class="container">
        <h1><a routerLink="/user-dashboard">View our cars!</a></h1>
        <div class="menu">
            <ul>
                <li>
                    <a routerLink="/user-request" class="">View Request</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a routerLink="/user-history" class="">View History</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a routerLink="/user-profile" class="">View Profile</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
