<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Admin Dashboard</title> -->
</head>


<!-- <nav>
    <div class="container">
        <h1><a routerLink="/user-dashboard">View our cars!</a></h1>
        <div class="menu">
            <ul>
                <li>
                    <a routerLink="/user-request" class="">View Request</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a (click)="passToHistory()"routerLink="/user-history" class="">View History</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a routerLink="/user-profile" class="">View Profile</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
<mat-toolbar color="primary" class="mat-elevation-z8">
    <span>Rent Cars</span>
  <div class="spacer">

  </div>
  <a mat-button routerLink="/user-dashboard">Home</a>
  <a mat-button routerLink="/user-request">Requests</a>
  <a mat-button (click)="passToHistory()"routerLink="/user-history">History</a>
  <a mat-button routerLink="/user-profile">Profile</a>
  <a mat-raised-button color="accent" (click)="logout()" >Logout</a>
  </mat-toolbar>